*, ::after, ::before {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root {
    --background--mask: rgba(12, 12, 129, 0.8);
    --color--formask: rgb(224, 69, 0);
    --font--color--formask: white;

}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 1500px;
    margin-inline: auto;
    min-height: 100vh;
}
img {
    display: block;
}
section, footer, header {
    width:100%;
    padding: 30px;
        
}



/* reutilizable */
        /* general */
.centred {
    display: block;
    margin: auto;
}

.bg-img {
    background-size:cover;
    background-position: center;
    min-height: 80vh;
}

        /* elements */

.subtitle {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 0.8rem;

}
.paragraph {
    font-size:1.2rem;
    line-height: 1.4 ;
}

.btn {
    background-color: var(--color--formask);
    color: var(--font--color--formask);

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    padding: 1em;
    border-radius:0.2em;
    border: 1px solid black;
}
/* end reutilizable */

/* HERO SECTION */
.hero {
    background-image: linear-gradient(var(--background--mask),var(--background--mask)),url("escritura.jpg");    
    color: var(--font--color--formask);
    
    display: grid;
    place-content: center;
    
    position: relative;
}

.hero .text-container {
    display: grid;    
    gap: 20px;   
}


.name {
    color: var(--color--formask);
    font-size: 1.8rem;
}

.title {
    font-size: 2.2rem;
}

.hero .btn {
    margin-top: 30px;
}
/* end hero */

/* SERVICIOS SECTION */


.card-container, .flex-inline {

    display:flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 30px;
}
        /* card container sub-section */
.card {
    position:relative;
   
    width: min(370px, 100%);
    background-color: rgb(196, 183, 183);
    border-radius: 0.2em;

    overflow: hidden;

}
.card-header {
    background-color: inherit;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap:10px;

    /* para igualar antes de wrap */
    min-height: 180px;

    position: relative;
    overflow: hidden;
}
.card-header-text {
    width: 240px;
}

.card-header .symbol {
    min-width: 35px;

    text-align: right;
}
.card-header .symbol i {
    font-size:2rem;
}


.card-header::after {
    font-size: 2rem;
    font-weight: bolder;

    content: "+";
    position:absolute;
    bottom: -2.1rem;
    right: -3.2rem ;

    
    padding: 0.5rem 4rem 2rem 1rem;
    border-radius: 50%;
    background-color: var(--color--formask);
    ;
    transition: background-color 200ms ease-out, color 200ms ease-out;
}

.card-header:hover::after {
    background-color: var(--background--mask);
    color: var(--font--color--formask);
}
.card-content {
    width:100%;
    background-color: inherit;

    position: relative;
    
    --margin-card--content: 10px;

    margin-inline:var(--margin-card--content);

    max-height: 0;

    transition: max-height .4s ease-in,
    padding .4s ease-in;

    
}
.card-content::before {
    position: absolute;
    content: "";
    top: 0;
    left: calc(-1 * var(--margin-card--content));
    width: calc(100% + var(--margin-card--content) * 2);
    height: 4px;
    background-color: white;
}

.card-content.active {
    max-height: 220px;
    padding-block: var(--margin-card--content);
}

.card-content ul {
    list-style-position: inside;
    display:grid;
    gap:7px;
}
.card-content ul li {
    text-align: left;

}

@media (min-width:850px) {
    .card {
        overflow: unset;
    }
    .card-header {
        min-height: unset;
        max-height: 180px;
        z-index:50;
    }
    .card-content {
        /* iguala altura tanto entre .card-content como con card-header */
        min-height: 180px;
        width:100%;
        background-color: inherit;
    
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        z-index: 10;
        
        margin: 0;
        padding:var(--margin-card--content);
    
        /* ayuda a ocultar el texto */
        max-height: 0;
    
        transform: translateY(0%);
        transition: transform .4s ease-in,
        max-height .4s ease-in,
        padding .4s ease-in;    
    }

    .card-content.active {
        max-height: 200px;
        height:200px;
        transform: translateY(100%);
    
    }

}
        /* end .card-container */

        /* flex-inline subsection */

.flex-inline {
    margin-top: 30px;
}
.flex-inline figure img {
    width: 100%;
    object-fit: cover;
}
.flex-inline figure {
    width: clamp(220px, 100%, 380px);
}
.flex-inline .textpage {
    width: clamp(220px, 100%, 410px);
}

.flex-inline .textpage .paragraph {
    margin-bottom: 30px;
}

        /* end .flex-inline */

/* end servicios */


.faq {
    background-position-x: 20%;
    background-position-y: 35%;
    background-image: linear-gradient(var(--background--mask),var(--background--mask)),url("justicia.jpg");    
}


/* MAPA SECTION */
.mapa {
    text-align: center;
    display:grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px) );
    justify-content: center;

}
.mapa-container, .form-container {
    margin:auto;
    /* max-width: 500px; */
    width: min(100%, 400px);
}


iframe {
width:100%;
}
/* end mapa */