*, ::after, ::before {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root {
    --background--mask: rgba(10, 10, 196,0.5);
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 1500px;
    margin-inline: auto;
    min-height: 100vh;
}
img {
    display: block;
}
section, footer {
    padding-inline: 40px;
        
}

.hero {
    background-image: linear-gradient(var(--background--mask),var(--background--mask)),url("escritura.jpg");
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}