@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*, ::after, ::before {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root {
    --background--mask: rgba(12, 12, 129, 0.8);
    --color--formask: rgb(224, 69, 0);
    --font--color--formask: white;
    --color--card: rgb(196, 183, 183);

}
html {
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}
body {
    max-width: 1500px;
    margin-inline: auto;
    min-height: 100vh;
}
img {
    display: block;
}
section, footer, header {
    width:100%;
    padding: 30px;
        
}



/* reutilizable */
        /* general */
.centred {
    display: block;
    margin: auto;
}

.bg-img {
    background-size:cover;
    background-position: center;
    min-height: 80vh;
}

        /* elements */

.subtitle {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 0.8rem;

}
.paragraph {
    font-size:1.2rem;
    line-height: 1.4 ;
}

.btn {
    background-color: var(--color--formask);
    color: var(--font--color--formask);

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    padding: 1em;
    border-radius:0.2em;
    border: 1px solid black;
}
/* end reutilizable */

/* HERO SECTION */
.hero {
    background-image: linear-gradient(var(--background--mask),var(--background--mask)),url("escritura.jpg");    
    color: var(--font--color--formask);
    
    display: grid;
    place-content: center;
    
    position: relative;
}

.hero .text-container {
    display: grid;    
    gap: 20px;   
}


.name {
    color: var(--color--formask);
    font-size: 1.8rem;
}

.title {
    font-size: 2.2rem;
}

.hero .btn {
    margin-top: 30px;
}
/* end hero */

/* SERVICIOS SECTION */


.card-container, .flex-inline {

    display:flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 30px;
}
        /* card container sub-section */
.card {
    --card--border--radius: 5px;
    border-radius: var(--card--border--radius);


    position:relative;
   
    width: min(370px, 100%);
    /* background-color: rgb(196, 183, 183); */

    overflow: hidden;

}
.card-header {
    border-radius: var(--card--border--radius);
    background-color: var(--color--card);
    border: 2px solid black;


    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap:10px;

    /* para igualar antes de wrap */
    min-height: 180px;

    position: relative;
    overflow: hidden;
}
.card-header-text {
    width: 240px;
}

.card-header .symbol {
    min-width: 35px;

    text-align: right;
}
.card-header .symbol i {
    font-size:2rem;
}


.card-header::after {
    font-size: 2rem;
    font-weight: bolder;

    content: "+";
    position:absolute;
    bottom: -2.1rem;
    right: -3.2rem ;

    
    padding: 0.5rem 4rem 2rem 1rem;
    border-radius: 50%;
    background-color: var(--color--formask);
    ;
    transition: background-color 200ms ease-out, color 200ms ease-out;
}

.card-header:hover::after {
    background-color: var(--background--mask);
    color: var(--font--color--formask);
}
.card-content {
    --margin-card--content: 20px;

    background-color: var(--color--card);
    width:100%;
    position: relative;
    
    border-radius: var(--card--border--radius);
    
    padding:0;

    max-height: 0;
    margin-top: 5px;
    /* transform: translateY(0px); */
    transition: max-height .4s ease-in,
    padding .4s, transform .4s,
    border .1s;
    
    
  
}
.card-content :is(ul,p) {
    opacity: 0;
    margin-inline: var(--margin-card--content);
    transition: opacity .2s;
}

.card-content.active {
    max-height: 350px;

    padding-block: var(--margin-card--content);
    border: 2px solid black;

}
.card-content.active :is(ul,p) {
    opacity:1;
}
.card-content ul {
    list-style-position: inside;
    display:grid;
    gap:7px;
}
.card-content ul li {
    text-align: left;

}

/* end SERVICIOS section */

/* FAQ SECTION */

.textpage {
    display:flex;
    flex-direction: column;
}
.textpage .card {
    margin-bottom: 20px;
    
}
.textpage .card-content.active {
    max-height: 400px;
}

/* end FAQ section */
@media (min-width:850px) {

    .hero {
        padding-bottom: 160px;
    }
    .servicios {
        position: relative;
        top: -140px;
        margin-bottom: -140px;
    }

    .card-container .card {
        overflow: unset;
    }
    .card-container .card-header {
        min-height: 240px;
        /* max-height: 180px; */
        z-index:50;
    }
    .card-container .card-content {
        /* iguala altura tanto entre .card-content como con card-header */
        /* la altura esta determinada por esta propiedad */
        min-height: 230px;
        width:100%;
    
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        z-index: 10;
        
        margin: 0;
    
        /* ayuda a ocultar el texto */
        /* max-height: 0; */
    
        transform: translateY(0%);
        transition: transform .4s ease-in,
        max-height .4s ease-in;    
    }

    .card-container .card-content.active {
        max-height: 250px;
        height:200px;
        transform: translateY(102%);
    
    }

}
        /* end .card-container */

        /* flex-inline subsection */

.flex-inline {
    margin-top: 30px;
}
.flex-inline figure img {
    width: 100%;
    object-fit: cover;
}
.flex-inline figure {
    width: clamp(220px, 100%, 380px);
}
.flex-inline .textpage {
    width: clamp(220px, 100%, 410px);
}

.flex-inline .textpage .paragraph {
    margin-bottom: 30px;
}

        /* end .flex-inline */

/* end servicios */


.faq {
    background-position-x: 20%;
    background-position-y: 35%;
    background-image: linear-gradient(var(--background--mask),var(--background--mask)),url("justicia.jpg");    
}


/* MAPA SECTION */
.mapa {
    text-align: center;
    display:grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px) );
    justify-content: center;

}
.mapa-container, .form-container {
    margin:auto;
    /* max-width: 500px; */
    width: min(100%, 400px);
}


iframe {
width:100%;
}
/* end mapa */